/node_modules
/packages/**/node_modules
/packages/**/dist
/packages/**/.turbo
/packages/**/dist/*.*
/packages/**/.turbo/*.*
/packages/**/dist/**/*.*
/packages/**/.turbo/**/*.*
/packages/**/coverage
/packages/**/tsconfig.build.tsbuildinfo
notes